.footer-section{
    background-color: lightgreen;
    color: black;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
}
.footer-section img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}