
.demo-section img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.demo-section{
    background-color: rgba(0, 128, 0, 0.171);
    padding:20px 25px;
    margin: 20px;
    line-height: 1px;
}
.demo-section h3{
    color: green;
}
.demo-section Button{
    margin: 20px;
}